/* Resetting default styles for all elements */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* WebKit scrollbar styling */
::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Set the track background color */
}

::-webkit-scrollbar-thumb {
  background: #3b8f70; /* Set the thumb color */
  border-radius: 6px; /* Add rounded corners to the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #3b8f70; /* Change thumb color on hover */
}
/* Styling for the body */
body {
  background-color: #ebfcf3;/* Setting the background color for the body */

}

/* Styling for the heading */
h1 {
  text-align: center;
  font-size: 55px;
  color: #3b8f70;
  font-weight: bold;/* Setting the font weight to bold */
  margin: 50px 0 50px 0;
}

/* Styling for the right-half container */
.right-half {
  background-color: white;
  width: 550px;
  padding: 30px;
  border-radius: 10px;
  margin: 0 0 80px 0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);/* Adding shadow to the container */
}
/* Styling for the main container */
.container {
  margin-left: 490px;
}
label {
  font-weight: bold;
  font-size: 25px;
}

/* Styling for input, select, and option elements */
input,
select,
option {
  width: 100%;
  padding: 5px;
  font-size: 18px;
  margin: 5px 0 10px 0;
}

/* Styling for buttons */
button {
  background-color: #3b8f70;
  color: white;
  border: 0;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 15px;
  border-radius: 5px;
  margin: 20px 0 0 0;
  text-align: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

/* Styling for button container */
.btncls {
  text-align: center;
}
